.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.gallery-item {
    width: calc(33.33% - 20px);
    margin-bottom: 25px;
    list-style: none;
}

.gallery-item img {
    width: 100%;
}

.gallery-image:hover {
    transform: scale(1.1);
}